@{
    ViewData["Title"] = "Home";
}

<style>
    #home {
        background-image: url("/wwwroot/agents/valorant.png")
    }
</style>

<div class="text-center" id="home">
    <h1 class="display-4">Welcome to Valorant Roulette</h1>
    <p>You can randomly select an agent, map, teams for customs or weapons.</p>
</div>
