@{
    ViewData["Title"] = "Team Picker";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <p>Select if you want to play 2v2, 3v3, 4v4, or 5v5, then enter the names of the players.</p>

    <form>
        <label for="numberOfPlayersOnTeams">Choose the number of players on teams: </label>
        <select name="playersOnTeams" id="playerOnTeams" onchange="ShowHideDiv()">
            <option value="Pick">Pick</option>
            <option value="2v2">2v2</option>
            <option value="3v3">3v3</option>
            <option value="4v4">4v4</option>
            <option value="5v5">5v5</option>
        </select>
        <br />
    </form>
</div>

<div class="container" id="teamPicker2v2" style="display: none">
    <form>
        <label for="Players for the customs">Players</label>
        <br />
        <div class="container">
            <label for="players">Player 1</label>
            <br />
            <input id="player1" name="players2v2" class="players2v2" rows="1" cols="50" />
            <br />
            <label for="players">Player 2</label>
            <br />
            <input id="player2" name="players2v2" class="players2v2" rows="1" cols="50" />
            <br />
            <label for="players">Player 3</label>
            <br />
            <input id="player3" name="players2v2" class="players2v2" rows="1" cols="50" />
            <br />
            <label for="players">Player 4</label>
            <br />
            <input id="player4" name="players2v2" class="players2v2" rows="1" cols="50" />
            <br />
        </div>

        <br />

        <button type="button" id="playerSubmit2v2" name="Submit" onclick="randomize2v2(); ShowRandomTeams2v2();">Submit</button>

        <br />
        <br />

        <input type="button" value="Clear Teams" id="clearTeams2v2" />
    </form>
</div>

<div class="container" id="teamPicker3v3" style="display: none">
    <form>
        <label for="Players for the customs">Players</label>
        <br />
        <div class="container">
            <label for="players">Player 1</label>
            <br />
            <input id="player1" name="players3v3" class="players3v3" rows="1" cols="50" />
            <br />
            <label for="players">Player 2</label>
            <br />
            <input id="player2" name="players3v3" class="players3v3" rows="1" cols="50" />
            <br />
            <label for="players">Player 3</label>
            <br />
            <input id="player3" name="players3v3" class="players3v3" rows="1" cols="50" />
            <br />
            <label for="players">Player 4</label>
            <br />
            <input id="player4" name="players3v3" class="players3v3" rows="1" cols="50" />
            <br />
            <label for="players">Player 5</label>
            <br />
            <input id="player5" name="players3v3" class="players3v3" rows="1" cols="50" />
            <br />
            <label for="players">Player 6</label>
            <br />
            <input id="player6" name="players3v3" class="players3v3" rows="1" cols="50" />
        </div>

        <br />

        <button type="button" id="playerSubmit3v3" name="Submit" onclick="randomize3v3(); ShowRandomTeams3v3();">Submit</button>

        <br />
        <br />

        <input type="button" value="Clear Teams" id="clearTeams3v3" />
    </form>
</div>

<div class="container" id="teamPicker4v4" style="display: none">
    <form>
        <label for="Players for the customs">Players</label>
        <br />
        <div class="container">
            <label for="players">Player 1</label>
            <br />
            <input id="player1" name="players4v4" class="players4v4" rows="1" cols="50" />
            <br />
            <label for="players">Player 2</label>
            <br />
            <input id="player2" name="players4v4" class="players4v4" rows="1" cols="50" />
            <br />
            <label for="players">Player 3</label>
            <br />
            <input id="player3" name="players4v4" class="players4v4" rows="1" cols="50" />
            <br />
            <label for="players">Player 4</label>
            <br />
            <input id="player4" name="players4v4" class="players4v4" rows="1" cols="50" />
            <br />
            <label for="players">Player 5</label>
            <br />
            <input id="player5" name="players4v4" class="players4v4" rows="1" cols="50" />
            <br />
            <label for="players">Player 6</label>
            <br />
            <input id="player6" name="players4v4" class="players4v4" rows="1" cols="50" />
            <br />
            <label for="players">Player 7</label>
            <br />
            <input id="player7" name="players4v4" class="players4v4" rows="1" cols="50" />
            <br />
            <label for="players">Player 8</label>
            <br />
            <input id="player8" name="players4v4" class="players4v4" rows="1" cols="50" />
        </div>

        <br />

        <button type="button" id="playerSubmit4v4" name="Submit" onclick="randomize4v4(); ShowRandomTeams4v4();">Submit</button>

        <br />
        <br />

        <input type="button" value="Clear Teams" id="clearTeams4v4" />
    </form>
</div>

<div class="container" id="teamPicker5v5" style="display: none">
    <form>
        <label for="Players for the customs">Players</label>
        <br />
        <div class="container">
            <label for="players">Player 1</label>
            <br />
            <input id="player1" name="players5v5" class="players5v5" rows="1" cols="50" />
            <br />
            <label for="players">Player 2</label>
            <br />
            <input id="player2" name="players5v5" class="players5v5" rows="1" cols="50" />
            <br />
            <label for="players">Player 3</label>
            <br />
            <input id="player3" name="players5v5" class="players5v5" rows="1" cols="50" />
            <br />
            <label for="players">Player 4</label>
            <br />
            <input id="player4" name="players5v5" class="players5v5" rows="1" cols="50" />
            <br />
            <label for="players">Player 5</label>
            <br />
            <input id="player5" name="players5v5" class="players5v5" rows="1" cols="50" />
            <br />
            <label for="players">Player 6</label>
            <br />
            <input id="player6" name="players5v5" class="players5v5" rows="1" cols="50" />
            <br />
            <label for="players">Player 7</label>
            <br />
            <input id="player7" name="players5v5" class="players5v5" rows="1" cols="50" />
            <br />
            <label for="players">Player 8</label>
            <br />
            <input id="player8" name="players5v5" class="players5v5" rows="1" cols="50" />
            <br />
            <label for="players">Player 9</label>
            <br />
            <input id="player9" name="players5v5" class="players5v5" rows="1" cols="50" />
            <br />
            <label for="players">Player 10</label>
            <br />
            <input id="player10" name="players5v5" class="players5v5" rows="1" cols="50" />
        </div>

        <br />

        <button type="button" id="playerSubmit5v5" name="Submit" onclick="randomize5v5(); ShowRandomTeams5v5();">Submit</button>

        <br />
        <br />

        <input type="button" value="Clear Teams" id="clearTeams5v5" />
    </form>
</div>

<div class="container" id="team12v2" style="display:none">
    <br />
    <br />
    <br />
    <h3>Team 1</h3>
    <div class="container" id="randomTeam12v2">

    </div>
    <br />
    <br />
    <br />
</div>

<div class="container" id="vs2v2" style="display:none">
    <br />
    <p>Vs.</p>
    <br />
</div>

<div class="container" id="team22v2" style="display:none">
    <br />
    <br />
    <br />
    <h3>Team 2</h3>
    <div class="container" id="randomTeam22v2">

    </div>
</div>

<div class="container" id="team13v3" style="display:none">
    <br />
    <br />
    <br />
    <h3>Team 1</h3>
    <div class="container" id="randomTeam13v3">

    </div>
    <br />
    <br />
    <br />
</div>

<div class="container" id="vs3v3" style="display:none">
    <br />
    <p>Vs.</p>
    <br />
</div>

<div class="container" id="team23v3" style="display:none">
    <br />
    <br />
    <br />
    <h3>Team 2</h3>
    <div class="container" id="randomTeam23v3">

    </div>
</div>

<div class="container" id="team14v4" style="display:none">
    <br />
    <br />
    <br />
    <h3>Team 1</h3>
    <div class="container" id="randomTeam14v4">

    </div>
    <br />
    <br />
    <br />
</div>

<div class="container" id="vs4v4" style="display:none">
    <br />
    <p>Vs.</p>
    <br />
</div>

<div class="container" id="team24v4" style="display:none">
    <br />
    <br />
    <br />
    <h3>Team 2</h3>
    <div class="container" id="randomTeam24v4">

    </div>
</div>

<div class="container" id="team15v5" style="display:none">
    <br />
    <br />
    <br />
    <h3>Team 1</h3>
    <div class="container" id="randomTeam15v5">

    </div>
    <br />
    <br />
    <br />
</div>

<div class="container" id="vs5v5" style="display:none">
    <br />
    <p>Vs.</p>
    <br />
</div>

<div class="container" id="team25v5" style="display:none">
    <br />
    <br />
    <br />
    <h3>Team 2</h3>
    <div class="container" id="randomTeam25v5">

    </div>
</div>

<script src="~/js/teamPicker.js"></script>

